* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  &::before {
    box-sizing: inherit;
  }
  &::after {
    box-sizing: inherit;
  }
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  line-height: 1.15;
}

body {
  cursor: default;
  position: static !important;
  background-image: url("../../../public/img/bg/bg-esport.jpg");
  background-size: 2160px auto !important;
  background-position: center top;
  background-repeat: repeat;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

a {
  background-color: transparent;
}
a:active,
a:hover {
  outline-width: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
svg:not(:root).svg-inline--fa {
  overflow: visible;
}
.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.svg-inline--fa.fa-w-9 {
  width: 0.5625em;
}
.svg-inline--fa.fa-w-6 {
  width: 0.375em;
}
.svg-inline--fa.fa-w-14 {
  width: 0.875em;
}
.svg-inline--fa.fa-w-16 {
  width: 1em;
}
.svg-inline--fa.svg-inline--fa.fa-w-18 {
  width: 1.5em;
  height: 1.2em;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}

select,
button {
  text-transform: none;
}
[hidden] {
  display: none;
}
