.date-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  .date-filter-selector {
    width: 240px;
    border: 0;
    border-width: 3px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1.6rem;
    appearance: none;
    height: 35px;
    background-image: url("../../../public/img/ico/down-arrow-ico.png");
    background-repeat: no-repeat, no-repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
    padding: 0 20px 0 10px;
    @include grid-media($tablet) {
      font-size: 1.4rem;
      flex: 1;
    }
  }
  .date-filter-nav {
    display: flex;
    background: #e9e9e9;
    color: #8d8d8d;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    height: 35px;
    width: 35px;
    border-radius: 6px;
    transition: 0.15s all ease;
    &:hover {
      cursor: pointer;
      background: #dadada;
      color: #000;
    }
    @include grid-media($tablet) {
      flex: 0 0 auto;
    }
  }
}
