.w {
  @include grid-media($mobile) {
    padding: 0 10px;
  }
  .c {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.container .c {
  position: relative;
}

.row {
  position: relative;
  @include grid-container;
  @include grid-collapse;
  @include grid-media($tablet) {
    @include grid-collapse;
  }
}

.col-1 {
  @include grid-column(1);
  @include grid-media($mobile) {
    @include grid-column(4);
  }
}
.col-2 {
  @include grid-column(2);
  @include grid-media($mobile) {
    @include grid-column(4);
  }
}
.col-3 {
  @include grid-column(3);
  @include grid-media($mobile) {
    @include grid-column(4);
  }
}
.col-4 {
  @include grid-column(4);
  @include grid-media($mobile) {
    @include grid-column(4);
  }
}
.col-5 {
  @include grid-column(5);
  @include grid-media($mobile) {
    @include grid-column(4);
  }
}
.col-6 {
  @include grid-column(6);
  @include grid-media($mobile) {
    @include grid-column(4);
  }
}
.col-7 {
  @include grid-column(7);
  @include grid-media($mobile) {
    @include grid-column(4);
  }
}
.col-8 {
  @include grid-column(8);
  @include grid-media($tablet) {
    @include grid-column(8);
  }
}
.col-9 {
  @include grid-column(9);
  @include grid-media($mobile) {
    @include grid-column(4);
  }
}
.col-10 {
  @include grid-column(10);
  @include grid-media($mobile) {
    @include grid-column(4);
  }
}
.col-11 {
  @include grid-column(11);
  @include grid-media($mobile) {
    @include grid-column(4);
  }
}
.col-12 {
  @include grid-column(12);
  @include grid-media($mobile) {
    @include grid-column(4);
  }
}
